@font-face {
  font-family: 'Noto Sans S Bold';
  font-style: normal;
  src: local('Noto Sans S Bold') url(NotoSansHans-Bold.otf);
}
@font-face {
  font-family: 'Noto Sans S Medium';
  font-style: normal;
  src: local('Noto Sans S Medium') url(NotoSansHans-Medium.otf);
}
@font-face {
  font-family: 'Noto Sans S Regular';
  font-style: normal;
  src: local('Noto Sans S Regular'), url(NotoSansHans-Regular.otf);
}
