@import '../../const';

@media (min-width: $retinaMinWidth) {

	.menu-item {
		padding: 6px 0;
        font-size: 18px;
        width: 150px;
		height: 40px;
    }
    .platform-nav li {
		margin: 0 18px;
	}

	.menu-item {
		padding: 6px 0;
        font-size: 18px;
        width: 150px;
		height: 40px;
    }

    .platform-nav .nav {
		ul {
			margin: 5px 15px;
		}
		li {
			margin: 0 15px;
		}
	}

	.float-right {
		margin-right: 5px;
		float: right;
	}

	.feature svg {
		width: 70%;
		height: 70%;
	}
}

