@import '../../const';

@media (min-width: $tabletMinWidth) {
	.header .intro .name {
		font-size: 40px;
	}

	.header .intro .fullname {
		font-size: 15px;
	}

	.header .intro .desc {
		font-size: 17px;
	}

	.platform-nav .nav {
		ul {
			margin: 10px 8px;
		}
		li {
			margin: 0 8px;
		}
	}

	.menu-item {
		padding: 4px 0;
        font-size: 16px;
        width: 120px;
		height: 32px;
		border: solid 2px $whiteColor;
    }

    .platform-nav.skrollable-after {
		.menu-item {
			border: 2px solid $nearGreenColor;
		}
	}

	.section.target {
		.margin-top {
			margin-top: 40px;
		}
		.col-sm-4.margin-top{
        	margin-top: 0px;
    	}
	}

	.feature svg {
		width: 50%;
		height: 50%;
	}

	.code.java {
		background-size:600px 400px;
	}
	.code.js {
		background-size:600px 400px;
	}
	.code.ui1 {
		background-size:600px 400px;
	}
	.code.ui2 {
		background-size:600px 400px;
	}
	.code.ui3 {
		background-size:600px 400px;
	}
	.code.ui4 {
		background-size:600px 400px;
	}
	.code.ui5 {
		background-size:600px 400px;
	}
}
