@import '../../const';

@media (min-width: $tabletMinWidth) {


	.platform-nav .nav {
		ul {
			margin: 10px 8px;
		}
		li {
			margin: 0 8px;
		}
	}

	.menu-item {
		padding: 4px 0;
        font-size: 16px;
        width: 120px;
		height: 32px;
		border: solid 2px $whiteColor;
    }

    .platform-nav.skrollable-after {
		.menu-item {
			border: 2px solid $nearGreenColor;
		}
	}

	.section.target {
		.margin-top {
			margin-top: 40px;
		}
		.col-sm-4.margin-top{
        	margin-top: 0px;
    	}
	}

	.code.java {
		background: url(../img/java.jpg) no-repeat 85% 130px #489BB4;
		background-size:600px 400px;
		background-attachment: fixed;
	}
	.code.js {
		background: url(../img/js.jpg) no-repeat 85% 130px #6BC2A0;
		background-size:600px 400px;
		background-attachment: fixed;
	}
	.code.ui1 {
		background: url(../img/ui1.jpg) no-repeat 85% 130px #FFFCF5;
		background-size:600px 400px;
		background-attachment: fixed;
	}
	.code.ui2 {
		background: url(../img/ui2.jpg) no-repeat 85% 130px #FCD532;
		background-size:600px 400px;
		background-attachment: fixed;
	}
	.code.ui3 {
		background: url(../img/ui3.jpg) no-repeat 85% 130px #6BC2A0;
		background-size:600px 400px;
		background-attachment: fixed;
	}
	.code.ui4 {
		background: url(../img/ui4.jpg) no-repeat 85% 130px #E95259;
		background-size:600px 400px;
		background-attachment: fixed;
	}
	.code.ui5 {
		background: url(../img/ui5.jpg) no-repeat 85% 130px #093E5C;
		background-size:600px 400px;
		background-attachment: fixed;
	}

	.course .course-img {
		margin-top: -5px;
	}
}
