@import '../../const';

.header.platform{
	background: url('/img/platform/header-bg.jpg') no-repeat center center;
	background-size: cover;
	text-align: center;
	min-height: 550px;
}

.header .intro {
	min-height: 350px;
	text-align: center;
	margin-top: 100px;
	color: $whiteColor;

	.desc {
		margin-top: 30px;
	}
}

.platform-nav {
	padding: 0;
	.nav {
		text-align: center;
		ul {
			position: relative;
			display: inline-block;
			margin: 12px 3px;
			list-style: none;
		}
		li {
			position: relative;
			float: left;
			margin: 0 3px;
		}
	}
}

.menu-item {
	font-size: 13px;
	background: rgba(255, 255, 255, 0);
	width: 60px;
	height: 24px;
	padding: 2px 0;
	color: $whiteColor;
	border: solid 1px $whiteColor;
	border-radius: 0;
    transition: all .3s ease-in-out;
}

.menu-item:hover {
	color: $nearGreenColor;
	background-color: $whiteColor;
}

.section.code {
	min-height: 590px;
	color: $whiteColor;

	p {
		font-size: $pDescFontSize;
	}
}

.code .code-img {
	width: 100%;
	height: 100%;
}

.code.java {
	background:  no-repeat 85% 130px #489BB4;
	background-size:90% ;
	// background-attachment: fixed;

}
.code.js {
	background:  no-repeat 85% 130px #6BC2A0;
	background-size:90%;
	background-attachment: fixed;
}

.code.ui1 {
	background:  no-repeat 85% 130px #FFFCF5;
	color: #8b8b8b;
	background-size:90%;
	background-attachment: fixed;
}
.code.ui2 {
	background:  no-repeat 85% 130px #FCD532;
	background-size:90%;
	background-attachment: fixed;
}
.code.ui3 {
	background:  no-repeat 85% 130px #6BC2A0;
	background-size:90%;
	background-attachment: fixed;
}
.code.ui4 {
	background:  no-repeat 85% 130px #E95259;
	background-size:90%;
	background-attachment: fixed;
}
.code.ui5 {
	background:  no-repeat 85% 130px #093E5C;
	background-size:90%;
	background-attachment: fixed;
}

.section.ideas {
    background: url("/img/platform/idea-bg.jpg") repeat;
	min-height: 550px;
}

.ideas .idea {
	//text-align: center;
	margin-top: 70px;
	margin-bottom: 120px;

	.zh_name {
		text-align: center;
		font-size: 24px;
		margin-top: 20px;
	}
	.en_name {
		@extend .zh_name;
		margin-top: 1px;
	}
	img {
		width: 220px;
		height: 220px;
		margin-top: 1px;
	}
}

.section.target {
	text-align: center;
	min-height: 600px;
	background-color: #142636;

	.margin-top {
		margin-top: 0px;
	}
    .col-sm-4.margin-top{
        margin-top: 40px;
    }
}

.target .panel {
	height: 350px;
	width: 350px;
	border-radius: 0;

	.panel-heading {
		border-radius: 0;
	}
	.panel-body {
		border-radius: 0;
	}
}

@mixin theme ($theme, $color) {
    .#{$theme} {
		border-color: $color;
	}
	.#{$theme}>.panel-heading {
	    color: $color;
    	border-color: $color;
    	background-color: $color;
	}
	.#{$theme}>.panel-body {
	    color: $color;
	}
}

@include theme(theme-1, #398a99);
@include theme(theme-2, #2bb8d6);
@include theme(theme-3, #f1bb66);
@include theme(theme-4, #8fc354);
@include theme(theme-5, #ef8f3e);
@include theme(theme-6, #296781);


.panel-body {
	.icon {
		margin-top: 50px;
	}
	.zh_name {
		font-size: 36px;
		margin-top: 10px;
	}
	.en_name {
		font-size: 18px;
		color: #5f5f5f;
		margin-top: 1px;
	}
}

.section.feature {
	padding-top: 10px;
	padding-bottom: 0px;
	min-height: 350;
	text-align: center;
}


@mixin pathRespire ($color, $time) {
    .feature path[fill="#{$color}"] {
		display: inline-block;
		width:125px;
		height:100px;
		margin:auto;
		padding:5px 20px;
		cursor: pointer;

		-webkit-animation: respire $time;
		animation: respire $time;
		-moz-animation: respire $time;
		-o-animation: respire $time;

		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;

		-webkit-transition-timing-function: ease;
		transition-timing-function: ease;
		-moz-transition-timing-function: ease;
		-o-transition-timing-function: ease;
	}

	.feature text[data="#{$color}"] {
		cursor: pointer;
	}
}

@include pathRespire(#B280B4, 3s);
@include pathRespire(#E16856, 2.3s);
@include pathRespire(#61A5BC, 4.0s);
@include pathRespire(#136DAE, 1.8s);
@include pathRespire(#F4A046, 2.8s);
@include pathRespire(#828385, 1.0s);
@include pathRespire(#64C1C6, 2.0s);
@include pathRespire(#89B046, 3.2s);
@include pathRespire(#EAB32B, 3.5s);


// @keyframes respire
// {
// 	0% {transform-origin: 50% 100%;transform : scaleX(1) scaleY(1);}
// 	50% {transform-origin: 50% 100%;transform : scaleX(1.02) scaleY(0.95);}
// 	100% {transform-origin: 50% 100%;transform : scaleX(1) scaleY(1);}
// }
@-webkit-keyframes respire {
	0% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(1) scaleY(1);}
	50% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(1.02) scaleY(0.95);}
	100% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(1) scaleY(1);}
}
// @-moz-keyframes respire {
// 	0% {-moz-transform-origin: 50% 100%;-moz-transform : scaleX(1) scaleY(1);}
// 	50% {-moz-transform-origin: 50% 100%;-moz-transform : scaleX(1.02) scaleY(0.95);}
// 	100% {-moz-transform-origin: 50% 100%;-moz-transform : scaleX(1) scaleY(1);}
// }
@-o-keyframes respire {
	0% {-o-transform-origin: 50% 100%;-o-transform : scaleX(1) scaleY(1);}
	50% {-o-transform-origin: 50% 100%;-o-transform : scaleX(1.02) scaleY(0.95);}
	100% {-o-transform-origin: 50% 100%;-o-transform : scaleX(1) scaleY(1);}
}

.section.feature:after {
	left: 50%;
	margin-left: -10px;
	right: auto;
	content: '';
	position: absolute;
	border-top: 10px $whiteColor solid;
	border-left: transparent 10px solid;
	border-right: transparent 10px solid;
	z-index: 2;
}
.section.premark {
	min-height: 250px;
	background-color: #B280B4;
	color: $whiteColor;
	font-size: $pDescFontSize;
	line-height: 32px;
	padding-top: 10px;
	padding-bottom: 50px;
	.desc {
		display: none;

		h2 {
			padding-top: 10px;
			padding-bottom: 5px;
            text-align: center;
		}

		h4{
			padding-top: 0;
			padding-bottom: 15px;
            text-align: center;
		}
	}
}

.section.course {
	// height: 1350px;
	// background-color: $nearGreenColor;
	background: url('/img/platform/hai.svg') no-repeat;
	background-size: cover;
	padding-top: 50px;
    margin-bottom: -55px;
}
.course .gou-img {
	position: absolute;
	left: 20%;
	margin-left: 12px;
	margin-top: 1293px;

}

// VerticalTimeline css
.cbp_tmtimeline {
	margin-top: 150px;
	padding: 0;
	list-style: none;
	position: relative;
}

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #fff;
	left: 20%;
	margin-left: -10px;
}

/* The date/time */
.cbp_tmtimeline > li {
	position: relative;
}

.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #fff;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 20px;
	color: #fff;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #fff;
}

.cbp_tmlabel h2 {
	font-size: 20px;
}
.cbp_tmlabel p {
	font-size: 16px;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 100px 15px 25%;
	background: #FFF;
	color: #49CA94;
	padding: 1em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	// border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #ececec;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 {
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(73,202,148,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #fff;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #ececec;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #49CA94;
	background: #ececec;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #FFF;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

.cbp_tmicon .glyphicon {
	font-weight: 700;
	top: 2px;
	margin-left: 3px;
}

.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #fff;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #fff;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}
}
// end VerticalTimeline css


//ihover.css modify of c13 s6
.ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item a {
  color: #515253;
}
.ih-item a:hover {
  text-decoration: none;
}

.ih-item.circle {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-left: 25px;
}
.ih-item.circle .img {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: -2px;
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.6), 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.square {
  position: relative;
  width: 350px;
  height: 350px;
  border: 0px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ih-item.circle.effect13.colored .info {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.8);
}
.ih-item.circle.effect13 .info {
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  text-align: center;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect13 .info h3 {
  visibility: hidden;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
  font-size: 20px;
  margin: 0 30px;
  padding: 55px 0 0 0;
  height: 105px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect13 .info p {
  visibility: hidden;
  color: #fff;
  padding: 5px 5px;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect13 a:hover .info {
  opacity: 1;
}
.ih-item.circle.effect13 a:hover h3 {
  visibility: visible;
}
.ih-item.circle.effect13 a:hover p {
  visibility: visible;
}

.ih-item.circle.effect13.from_left_and_right .info h3 {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.ih-item.circle.effect13.from_left_and_right .info p {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.ih-item.circle.effect13.from_left_and_right a:hover h3 {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.ih-item.circle.effect13.from_left_and_right a:hover p {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.ih-item.circle.effect13.top_to_bottom .info h3 {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ih-item.circle.effect13.top_to_bottom .info p {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ih-item.circle.effect13.top_to_bottom a:hover h3 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.ih-item.circle.effect13.top_to_bottom a:hover p {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.ih-item.circle.effect13.bottom_to_top .info h3 {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.ih-item.circle.effect13.bottom_to_top .info p {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.ih-item.circle.effect13.bottom_to_top a:hover h3 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.ih-item.circle.effect13.bottom_to_top a:hover p {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}


.ih-item.square.effect6 {
  overflow: hidden;
}
.ih-item.square.effect6.colored .info {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.6);
}

.ih-item.square.effect6.colored-1 .info {
  background: #398a99;
}
.ih-item.square.effect6.colored-2 .info {
  background: #2bb8d6;
}
.ih-item.square.effect6.colored-3 .info {
  background: #f1bb66;
}
.ih-item.square.effect6.colored-4 .info {
  background: #8fc354;
}
.ih-item.square.effect6.colored-5 .info {
  background: #ef8f3e;
}
.ih-item.square.effect6.colored-6 .info {
  background: #296781;
}

.ih-item.square.effect6.colored .info h3 {
  background: rgba(12, 34, 52, 0.6);
}
.ih-item.square.effect6 .img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.ih-item.square.effect6 .info {
  background: #333333;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.square.effect6 .info h3 {
  text-transform: uppercase;
  color: #fff;
  opacity: 0.7;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: #111111;
  margin: 21px 0 0 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.square.effect6 .info p {
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 20px 20px 20px;
  text-align: left;
  -webkit-transition: all 0.35s 0.1s linear;
  -moz-transition: all 0.35s 0.1s linear;
  transition: all 0.35s 0.1s linear;
}
.ih-item.square.effect6 a:hover .img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.ih-item.square.effect6 a:hover .info {
  visibility: visible;
  opacity: 1;
}

.ih-item.square.effect6.from_top_and_bottom .info h3 {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ih-item.square.effect6.from_top_and_bottom .info p {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.ih-item.square.effect6.from_top_and_bottom a:hover .info h3,
.ih-item.square.effect6.from_top_and_bottom a:hover .info p {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.ih-item.square.effect6.from_left_and_right .info h3 {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.ih-item.square.effect6.from_left_and_right .info p {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.ih-item.square.effect6.from_left_and_right a:hover .info h3,
.ih-item.square.effect6.from_left_and_right a:hover .info p {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.ih-item.square.effect6.top_to_bottom .info h3 {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ih-item.square.effect6.top_to_bottom .info p {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ih-item.square.effect6.top_to_bottom a:hover .info h3,
.ih-item.square.effect6.top_to_bottom a:hover .info p {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.ih-item.square.effect6.bottom_to_top .info h3 {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.ih-item.square.effect6.bottom_to_top .info p {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.ih-item.square.effect6.bottom_to_top a:hover .info h3,
.ih-item.square.effect6.bottom_to_top a:hover .info p {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
//end ihover.css

/*!
 * "Fork me on GitHub" CSS ribbon v0.1.1 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/

/* Left will inherit from right (so we don't need to duplicate code) */
.github-fork-ribbon {
  /* The right and left classes determine the side we attach our banner to */
  position: absolute;

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;

  /* Set the base colour */
  background-color: #a00;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

  /* Add a drop shadow */
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);

  /* Set the font */
  font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;

  z-index: 9999;
  pointer-events: auto;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  /* Set the text properties */
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;

  /* Set the geometry. If you fiddle with these you'll also need
     to tweak the top and right values in .github-fork-ribbon. */
  width: 200px;
  line-height: 20px;

  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;

  /* Add "stitching" effect */
  border-width: 1px 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  pointer-events: none;
}

.github-fork-ribbon-wrapper.fixed {
  position: fixed;
}

.github-fork-ribbon-wrapper.left {
  left: 0;
}

.github-fork-ribbon-wrapper.right {
  right: 0;
  // top: 54px;
}

.github-fork-ribbon-wrapper.left-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  left: 0;
}

.github-fork-ribbon-wrapper.right-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.left .github-fork-ribbon {
  top: 42px;
  left: -43px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
  top: 80px;
  left: -43px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
  top: 80px;
  right: -43px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
