@import '../../const';

.header.platform{
	background: url('../img/header-bg.png') no-repeat;
	background-size: cover;
	text-align: center;
	min-height: 550px;
}

.header .intro {
	min-height: 350px;
	text-align: center;
	margin-top: 100px;
	font-family: "Noto Sans S Medium";
	color: $whiteColor;

	.name {
		font-size: 38px;
	}

	.fullname {
		font-size: 14px;
	}
	.desc {
		font-size: 16px;
		margin-top: 30px;
	}
}

.platform-nav {
    // position: absolute;
    // top: 440px;
    // width: 90%;
    // text-align: center;
    // z-index:999;

	.nav {
		text-align: center;
	}
	.nav ul {
		list-style: none;
	}
}

.menu-item {
	font-family: "Noto Sans S Medium";
	font-size: 16px;
	background: rgba(255, 255, 255, 0);
	width: 120px;
	height: 36px;
	color: $whiteColor;
	border: solid 2px $whiteColor;
    transition: all .3s ease-in-out;
}

.menu-item:hover {
	color: $nearGreenColor;
	background-color: $whiteColor;
}
.platform-nav.skrollable-after {
	height: 80px;
	background-color: #FFF;
	box-shadow: 0 1px #ececec;
	
	.menu-item {
		border: 2px solid $nearGreenColor;
		color: $nearGreenColor;
	}
	.menu-item:hover, .active .menu-item {
		color: $whiteColor;
		background-color: $nearGreenColor;
	}	
}

.section.code {
	min-height: 630px;
	color: $whiteColor;

	p {
		font-size: 16px;
	}
}

.code .code-img {
	width: 100%;
	height: 100%;
}

.code.java {
	background: url(../img/java.png) no-repeat 75% 150px #ED6A58;
	background-size:600px 400px;
	// background-attachment: fixed;

}
.code.js {
	background: url(../img/js.png) no-repeat 75% 150px #BA84BB;
	background-size:600px 400px;
	background-attachment: fixed;
}

.code.ui1 {
	background: url(../img/ui1.png) no-repeat 75% 150px #ffa543;
	background-size:600px 400px;
	background-attachment: fixed;
}
.code.ui2 {
	background: url(../img/ui2.png) no-repeat 75% 150px #0973BA;
	background-size:600px 400px;
	background-attachment: fixed;
}
.code.ui3 {
	background: url(../img/ui3.png) no-repeat 75% 150px #65CAD0;
	background-size:600px 400px;
	background-attachment: fixed;
}
.code.ui4 {
	background: url(../img/ui4.png) no-repeat 75% 150px #8CB743;
	background-size:600px 400px;
	background-attachment: fixed;
}
.code.ui5 {
	background: url(../img/ui5.png) no-repeat 75% 150px #FECE69;
	background-size:600px 400px;
	background-attachment: fixed;
}

.section.ideas {
    background: url("../img/idea-bg.png?__sprite") repeat-x;
	min-height: 550px;
}

.ideas .idea {
	text-align: center;

	.zh_name {
		text-align: center;
		font-size: 24px;
		margin-top: 20px;
	}
	.en_name {
		@extend .zh_name;
		margin-top: 1px; 
	}
}

.section.target {
	text-align: center;
	min-height: 600px;
	background-color: #142636;
}

.target .panel {
	height: 350px;
	width: 350px;
	border-radius: 0;

	.panel-heading {
		border-radius: 0;
	}
	.panel-body {
		border-radius: 0;
	}
}

@mixin theme ($theme, $color) {
    .#{$theme} {
		border-color: $color;
	}
	.#{$theme}>.panel-heading {
	    color: $color;
    	border-color: $color;
    	background-color: $color;
	}
	.#{$theme}>.panel-body {
	    color: $color;
	}
}

@include theme(theme-1, #398a99);
@include theme(theme-2, #2bb8d6);
@include theme(theme-3, #f1bb66);
@include theme(theme-4, #8fc354);
@include theme(theme-5, #ef8f3e);

.panel-body {
	.icon {
		margin-top: 50px;
	}
	.zh_name {
		font-family: "Noto Sans S Bold";
		font-size: 36px;
		margin-top: 10px;
	}
	.en_name {
		font-family: "Noto Sans S Medium";
		font-size: 18px;
		color: #5f5f5f;
		margin-top: 1px;
	}
}

.section.feature {
	padding-top: 50px;
	padding-bottom: 1px;
	min-height: 350;
	text-align: center;
}

.feature svg {
	width: 90%;
	height: 90%;
}

@mixin pathRespire ($color, $time) {
    .feature path[fill="#{$color}"] {
		display: inline-block;
		width:125px;
		height:100px;
		margin:auto;
		padding:5px 20px;
		cursor: pointer;

		-webkit-animation: respire $time;
		animation: respire $time;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-transition-timing-function: ease;
		transition-timing-function: ease;
	}
}

@include pathRespire(#BA84BB, 3s);
@include pathRespire(#ED6A58, 2.3s);
@include pathRespire(#62ACC5, 4.0s);
@include pathRespire(#0973BA, 1.8s);
@include pathRespire(#FFA543, 2.8s);
@include pathRespire(#828385, 1.0s);
@include pathRespire(#65CAD0, 2.0s);
@include pathRespire(#8CB743, 3.2s);
@include pathRespire(#FECE69, 3.5s);

@-webkit-keyframes respire {
	0% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(1) scaleY(1);}
	50% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(1.02) scaleY(0.95);}
	100% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(1) scaleY(1);}
}

@keyframes respire
{
	0% {transform-origin: 50% 100%;transform : scaleX(1) scaleY(1);}
	50% {transform-origin: 50% 100%;transform : scaleX(1.02) scaleY(0.95);}
	100% {transform-origin: 50% 100%;transform : scaleX(1) scaleY(1);}
}

@mixin pathChangeForme ($color, $time) {
	.feature path[fill="#{$color}"]:hover {
		-webkit-animation: changeForme $time;
		animation: changeForme $time;
		/*animation-iteration-count: infinite;*/
		-webkit-transition-timing-function: ease-in-out;
		transition-timing-function: ease-in-out;
	}
}

@include pathChangeForme(#BA84BB, 1s);
@include pathChangeForme(#ED6A58, 1s);
@include pathChangeForme(#62ACC5, 1s);
@include pathChangeForme(#0973BA, 1s);
@include pathChangeForme(#FFA543, 1s);
@include pathChangeForme(#828385, 1s);
@include pathChangeForme(#65CAD0, 1s);
@include pathChangeForme(#8CB743, 1s);
@include pathChangeForme(#FECE69, 1s);

@-webkit-keyframes changeForme {
	0% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(1) scaleY(1);}            
	40% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(0.95) scaleY(1.05);} 
	50% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(1.05) scaleY(0.95);}
	60% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(0.95) scaleY(1.05);}
	70% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(1.05) scaleY(0.95);}
	80% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(0.95) scaleY(1.05);}
	90% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(1.05) scaleY(0.95);}
	100% {-webkit-transform-origin: 50% 100%;-webkit-transform : scaleX(1) scaleY(1);}
}

@keyframes changeForme {
	0% {transform-origin: 50% 100%;transform : scaleX(1) scaleY(1);}
	40% {transform-origin: 50% 100%;transform : scaleX(0.95) scaleY(1.05);}
	50% {transform-origin: 50% 100%;transform : scaleX(1.05) scaleY(0.95);}
	60% {transform-origin: 50% 100%;transform : scaleX(0.95) scaleY(1.05);}
	70% {transform-origin: 50% 100%;transform : scaleX(1.05) scaleY(0.95);}
	80% {transform-origin: 50% 100%;transform : scaleX(0.95) scaleY(1.05);}
	90% {transform-origin: 50% 100%;transform : scaleX(1.05) scaleY(0.95);}
	100% {transform-origin: 50% 100%;transform : scaleX(1) scaleY(1);}
}

.section.feature:after {
	left: 50%;
	margin-left: -20px;
	right: auto;
	content: '';
	position: absolute;
	border-top: 20px $whiteColor solid;
	border-left: transparent 20px solid;
	border-right: transparent 20px solid;
	z-index: 2;
}
.section.remark {
	min-height: 350px;
	background-color: #BA84BB;
	color: $whiteColor;
	font-size: 22px;
	line-height: 32px;
	text-align: center;
	padding-top: 30px;
	.desc {
		display: none;
	}
}

.section.roadmap {
	min-height: 600px;
	background-color: $nearGreenColor;
	padding-top: 50px;
}
.roadmap .roadmap-img {
	margin-bottom: 30px;
	width: 100%;
}
.roadmap .roadmap-img-div {
	text-align: center;
}

.timeline {
    list-style: none;
    padding-left: 30px;
    border-left: 8px solid $whiteColor
}


.timeline li {
    margin: 20px 0 0 0;
    position: relative
}

.timeline li:first-child {
    margin: 0;
}

.timeline p {
    margin: 0 0 15px
}
.timeline .center {
	text-align: center;
}
.date {
    margin-top: -10px;
    top: 50%;
    left: -158px;
    position: absolute;
    background-color: $nearGreenColor;
    text-align: center;
    color: $whiteColor;
    font-size: 16px;

    transform: translateX(142px);
}

.circle {
    margin-top: -10px;
    top: 50%;
    left: -44px;
    width: 10px;
    height: 10px;
    background: $whiteColor;
    border: 5px solid $whiteColor;
    // border-radius: 50%;
    display: block;
    position: absolute;

    -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box ;
}
.content {
    padding: 50px 20px 0;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    position: relative;
    max-height: 300px;
	max-width: 380px;
	height: 230px;
}
// .content.left {
// 	position: absolute;
// }
.content:before, .content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%
}
.content:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px
}
.content:after {
    border-right-color: transparent;
    border-width: 17px;
    top: 50%;
    margin-top: -17px
}
.content p {
    max-height: 0;
    color: transparent;
    // text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
    line-height: 22px;

    .title {
    	font-size: 20px;
    	font-weight: bold;
    	color: $nearGreenColor;
    }
}
.relative label {
	cursor: pointer;
}

.radio {
    display: none;
}

.labelbox {
	color: $whiteColor;
    font-size: 20px;
    position: absolute;
    z-index: 100;
    top: 100px;
    // transition: transform 0.2s linear
}

.radio:checked+.relative .labelbox {
    // cursor: auto;
    // transform: translateX(142px);
    color: transparent;
}
.radio:checked+.relative .circle {
    background: $nearGreenColor;
}
.radio:checked ~ .content {
    max-height: 280px;
    border-color: $whiteColor;
    background-color: $whiteColor;
    margin-right: 20px;
    transform: translateX(20px);
    transition: max-height 0.8s linear, border-color 0.2s linear, transform 0.2s linear;
    padding: 30px 30px;
    box-shadow: 0 2px $nearGreenColor;

    p {
    	max-height: 280px;
    	color: #636363;
    	font-size: 16px;
    	transition: color 0.4s linear 0.5s
	}
}

