@import '../../const';

.header.introduction {
	background: url('../img/header-bg.png') no-repeat center center;
	background-size: cover;
	text-align: center;
	min-height: 550px;

	.intro {

	}
}

@mixin title-desc ($h2Color, $divColor) {
    h2 {
		font-size: $titleFontSize;
		color: $h2Color;
		padding-top: 5px;
		padding-bottom: 15px;
	}
	p {
		font-size: $pDescFontSize;
		line-height: 30px;
		color: $divColor;
	}
}

.section.whoweare {
	@include title-desc(#000000, #8b8b8b);
}

.section.whatwedo {
	background-color: #F2F5F8;
	text-align: right;
	@include title-desc(#000000, #8b8b8b);
}

.section.history {
	padding: 0 0 100px 0;

	.history-img img {
		width: 100%;
	}
}

.section.bdmap {
    min-height: 450px;
    overflow: hidden;
    margin: 0;

    .iw_bt {
    	margin-right: 0px !important;
    }
    #BMapLib_stationText0 {
    	width: 30px;
    }
}

.BMapLib_SearchInfoWindow {
	font: 12px "Microsoft YaHei", "Helvetica Neue", sans-serif, SimHei, "宋体" !important;
}
.BMapLib_nav_tab_content li {
	font-family: "Microsoft YaHei", "Helvetica Neue", sans-serif, SimHei, "宋体" !important;
}
