@import '../../const';

@media (min-width: $tabletMinWidth) {
	.header .intro .name {
		font-size: 40px;
	}

	.header .intro .fullname {
		font-size: 15px;
	}

	.header .intro .desc {
		font-size: 17px;
	}
	
	
}
