/* font size */
// s --> small , m --> middle , l --> large
$sFontSize : 10px;
$baseFontSize : 12px;
$lFontSize : 14px;
$xlFontSize : 16px;
$bFontSize : 18px;
$h2Size : 18px;


$h1Color :#c31632;
$h1Size :#c31632;
$lightGrayColro:#f6f6f6;
$navBarBorderColor:#d3d3d3;
$navBarColor:$lightGrayColro;
$bgColor: #111C29;
$fontColor: #000;
// pure grid system's breakpoint
$pureXs:28em;
// 568px
$pureSm :35.5em;
// 768px
$pureMd :48em;
// 1024px
$pureLg :64em;
//1280px
$pureXl:80em;

$pureXxl:100em;
