//color
//------------------------
$bodyColor: #636363;
$hoverColor: #8fb03e;

$whiteColor: #FFFFFF;
$blankColor: #000000;
//
$nearGreenColor: #49CA94;
$nearBlueColor: #49B1DF;
$nearOrangeColor: #fbb608;

$footerColor: #aab2bd;
$footerAboveBgColor: #152635;
$foolterBelowBgColor: #2A3A47;

//pixel
//------------------------
$bodyFontSize: 14px;
$pFontSize: 20px;
$contentFontSize: 16px;
$titleFontSize: 20px;

$headerFontSize: 44px;
$underHeaderFontSize: 18px;
$pDescFontSize: 16px;
$shortSentenceFontSize: 18px;
$biggerTitleFontSize: 36px;
$bigTitleFontSize: 30px;

$tabletMinWidth: 768px;
$desktopMinWidth: 992px;
$retinaMinWidth: 1200px;

//Family
$regularFamily: "Noto Sans S Regular";
$mediumFamily: "Noto Sans S Medium";
$boldFamily: "Noto Sans S Bold";

$bodyFamily: "Microsoft YaHei","Helvetica Neue", sans-serif, SimHei, "宋体";

//Animation time
//------------------------

