//color
//------------------------
$bodyColor: #636363;
$hoverColor: #8fb03e;

$whiteColor: #FFFFFF;
$blankColor: #000000;
//
$nearGreenColor: #49CA94;
$nearBlueColor: #49B1DF;
$nearOrangeColor: #FBB42F;

$footerColor: #aab2bd;
$footerAboveBgColor: #152635;
$foolterBelowBgColor: #2A3A47;

//pixel
//------------------------
$bodyFontSize: 14px;
$pFontSize: 22px;

$tabletMinWidth: 768px;
$desktopMinWidth: 992px;
$retinaMinWidth: 1200px;

//Animation time
//------------------------

