@import '../../const';

@media (min-width: $retinaMinWidth) {
	
	.section.occupation .occupation-item .content {
		font-size: 16px;
		padding: 10px 8px;
	}

	.response-mech .item .desc {
		font-size: 16px;
		padding-top: 50px;
	}

}

