@import '../../const';

@media (min-width: $desktopMinWidth) {
	
	#cal_slides .slidesjs-navigation, #cal_slides .slidesjs-pagination {
		margin-top: 5px;
	}

	.section.occupation .occupation-item .content {
		font-size: 15px;
		padding: 6px 5px;
	}
	
	.cal .desc {
		font-size: 15px;
		padding-top: 40px;
	}
}

