@import '../../const';

@media (min-width: $desktopMinWidth) {

	.section.occupation .occupation-item .content {
		font-size: 15px;
		margin-top: 8px;
	}

	.response-mech .item .desc {
		font-size: 15px;
		padding-top: 40px;
	}
}

