@import '../../const';

@media (min-width: $tabletMinWidth) {

	.section.occupation .occupation-item .content {
		font-size: 14px;
		padding: 6px 4px;
	}

	.response-mech .item .desc {
		font-size: 14px;
		padding-top: 20px;
	}
	
}
