@import '../../const';

.header.talent {
	background: url('../img/header-bg.png') no-repeat center center;
	background-size: cover;
	text-align: center;
	min-height: 550px;
}

@mixin title-desc ($h2Color, $divColor) {
    h2 {
		font-size: $biggerTitleFontSize;
		color: $h2Color;
	}
	div {
		font-size: $pDescFontSize;
		color: $divColor;
		// margin-top: 20px;
	}
}

.section.response-mech {
	min-height: 550px;
	background: url('../img/hanging.svg') no-repeat top center, url('../img/retina_wood_@2X.png') repeat-x;
	padding-top: 0px;
	text-align: center;

	@include title-desc(#045545, #FFFFFF);

	hr {
		width: 80%;
		border-top: 1px solid #FFF;
	}
}

#carousel-response .carousel-control.left {
	background: rgba(0, 0, 0, 0);
}
#carousel-response .carousel-control.right {
	background: rgba(0, 0, 0, 0);
}

.cal {
	.desc {
		font-size: 13px;
		padding-top: 10px;
		padding-left: 20px;
		text-align: left;
	}

	.img {
		text-align: right;
	}
}

.section.mgr-system {
	min-height: 550px;
	background-color: #F0F2F5;
	text-align: center;

	@include title-desc(#434a53, #434a53);

}

.mgr-system {
	padding: 10px 0 70px 0;
	@include title-desc(#434a53, #434a53);

	hr {
		border-top: 2px solid #CECECE;
	}

	.system-item {
		padding-top: 40px;

		span {
			margin-left: 20px;
		}
	}
}

.section.welfare {
	padding: 20px 0 80px 0;
	min-height: 650px;
	background-color: #293251;
	text-align: center;

	@include title-desc(#FFFFFF, #FFFFFF);
}

.welfare {
	.welfare-svg {
		margin-top: 80px;
		width: 100%;
	}
}


.section.possibility {
	padding: 10px 0 70px 0;
	min-height: 250px;
	background-color: $nearOrangeColor;
	text-align: center;

	@include title-desc(#FFFFFF, #FFFFFF);
}

.section.possibility:after {
	left: 50%;
	margin-left: -20px;
	right: auto;
	content: '';
	position: absolute;
	border-bottom: 20px #EFF1F4 solid;
	border-left: transparent 20px solid;
	border-right: transparent 20px solid;
	padding-top: 50px;
	z-index: 2;
}

.section.occupation {
	background-color: #EFF1F4;
	padding: 0;

	.occupation-svg {
		padding-top: 200px;
		padding-bottom: 0px;

		.ot {
			cursor: pointer;
		}
	}

	.occupation-item {
		display: none;
		position: absolute;
		width: 20%;
		height: 20%;

		.content {
			height: 85%;
			background-color: $nearOrangeColor;
			border: 3px solid #FFF;
			font-size: 12px;
			color: $whiteColor;
			padding: 5px 3px;

		}

		.title {
			height: 15%;
			background-color: rgba(0, 0, 0, 0);
			font-size: 30px;
			color: #595656;
		}
	}

	.occupation-item1 {
		display: block;
		left: 24.2%;
		margin-top: 22.2%;
	}

	.occupation-item2 {
		left: 45.3%;
		margin-top: 14.2%;
	}

	.occupation-item3 {
		left: 74.9%;
		margin-top: 3.5%;
	}
}

