@import '../../const';

.header.talent{
	background: url('../img/header-bg.png?__inline') no-repeat center center;
	background-size: cover;
	text-align: center;
	min-height: 550px;
}

.section.response-mech {
	min-height: 550px;
	background: url('../img/hanging.svg?__inline') no-repeat top center, url('../img/retina_wood_@2X.png?__inline') repeat-x;
}

@mixin title-desc ($h2Color, $divColor) {
    h2 {
		font-family: "Noto Sans S Medium";
		font-size: 36px;
		color: $h2Color;
	}
	div {
		font-family: "Noto Sans S Regular";
		font-size: 17px;
		color: $divColor;
		// margin-top: 20px;
	}
}

.section.mgr-system {
	min-height: 550px;
	background-color: #F0F2F5;
	text-align: center;

	@include title-desc(#434a53, #434a53);

}

.mgr-system {
	padding: 10px 0 70px 0;
	@include title-desc(#434a53, #434a53);

	hr {
		border-top: 2px solid #CECECE;
	}

	.system-item {
		padding-top: 40px;
		
		span {
			margin-left: 20px; 
		}
	}
}

.section.welfare {
	padding: 20px 0 80px 0;
	min-height: 650px;
	background-color: #293251;
	text-align: center;

	@include title-desc(#FFFFFF, #FFFFFF);
}

.welfare {
	.welfare-svg {
		margin-top: 80px;
		width: 100%;
	}
}


.section.possibility {
	padding: 10px 0 70px 0;
	min-height: 250px;	
	background-color: $nearOrangeColor;
	text-align: center;

	@include title-desc(#FFFFFF, #FFFFFF);
}

.section.possibility:after {
	left: 50%;
	margin-left: -20px;
	right: auto;
	content: '';
	position: absolute;
	border-bottom: 20px #EFF1F4 solid;
	border-left: transparent 20px solid;
	border-right: transparent 20px solid;
	padding-top: 50px;
	z-index: 2;
}

.section.occupation {
	background-color: #EFF1F4;
	padding: 0;

	.occupation-svg {
		padding-top: 200px;
		padding-bottom: 0px;

		.ot {
			cursor: pointer;
		}
	}
	
	.occupation-item {
		opacity: 0;
		position: absolute;
		width: 18%;
		height: 18%;

		.content {
			height: 85%;
			background-color: $nearOrangeColor;
			border: 3px solid #FFF;
			font-family: "Noto Sans S Regular";
			font-size: 12px;
			color: $whiteColor;
			padding: 5px 3px; 

		}

		.title {
			height: 15%;
			background-color: rgba(0, 0, 0, 0);
			font-family: "Noto Sans S Medium";
			font-size: 30px; 
			color: #595656;
		}
	}
	
	.occupation-item1 {
		opacity: 1;
		left: 24.2%;
		margin-top: 20.2%;
	}

	.occupation-item2 {
		left: 45.3%;
		margin-top: 12.2%;
	}

	.occupation-item3 {
		left: 74.9%;
		margin-top: 1.5%;
	}
}
