.footer {
    background: $bgColor;
    color : #cdcdcd;
    padding-top : 26px;
    border-bottom: 10px solid #000;
    text-align: left;
    font-size : 10px;
    .pure-g >div{
        position : relative;
        margin-bottom: 6px;
        >span{
            width :0;
            height : 30px;
            position : absolute;
            display:inline-block;
            border-right: 1px solid #16293B;
            border-left: 1px solid #000;
            left : 0 ;
            top : 6px;
        }
        p{margin-top: 3px;}
    }

    .pure-g >div:nth-child(1) {
        position: relative;
        padding-top : 10px;
        img{
            right : 0 ;
            top : -15px;
            position: absolute;;
            width : 140px;
        }
    }
    .pure-g >div:nth-child(2) {
        padding-top : 10px;
        margin-left : 40px;
    }
    .pure-g >div:nth-child(3) {
        text-align :center;
    }
    .pure-g >div:nth-child(4) {
        padding-left:20px;
        padding-right:30px;
        text-align :left;
    }
    .copy-right {
        margin: 16px 0 ;
        text-align :center;
    }
}

@media screen and (max-width : $pureLg) {
    #footer {
        text-align: center;
        .pure-g >div:nth-child(1) {
            position: relative;
            padding-top : 0px;
            margin-bottom: 10px;
            img{
                position: static;;
            }
        }
        .pure-g >div:nth-child(2) {
            padding : 0px;
            margin : 0;
        }
        .pure-g >div:nth-child(3) {
            text-align :center;
        }
        .pure-g >div:nth-child(4) {
            padding-left:20px;
            padding-right:30px;
            text-align: center;
        }
    }
}