#header {
    overflow: hidden;
    position: relative;
    height : 800px;
    color: white;
    background-size: cover;
    text-align: center;
    background: $bgColor;
}

@mixin popmap($width , $right , $bottom ) {
    display: none;
    width : $width;
    bottom : $right;
    right : $bottom;
}

#header .map-wrap{
    img.popmap {
        position : absolute;
        z-index : 100;
    }
    img.popmap.ptw {
        @include popmap(288px , 42px , -204px);
    }

    img.popmap.phk {
        @include popmap(292px , 18px , -138px);
    }
    img.popmap.psz {
        @include popmap(338px , 40px , -128px);
    }

}

@media screen and (min-width:$pureLg) {
    #header .slogan{
        position : absolute;
        width : 700px;
        top : 180px;
        right : -500px;
        z-index: 2;
    }
    #header .map-wrap{
        position: absolute;
        top : 180px; ;
        width : 600px;
        .map{
            width :600px;
        }
    }
    .map-wrap {
        @include hotPot();
        .ptw {
            bottom: 50px;
            right : 58px;
        }
        .phk {
            bottom: 20px;
            right : 125px;
        }
        .psz {
            bottom: 33px;
            right : 144px;
        }
    }
}


@media screen and (max-width:$pureLg) {
    #header {
        height : 400px;
    }
    #header .slogan{
        position : absolute;
        width : 150%;
        top : 50px;
        left : -100px;
        z-index: 99;
    }
    #header .map-wrap{
        top : 60px;
        width : 400px;
        position: absolute;
        .map{
            width : 400px;
            margin : 0 auto;
        }
    }

    .map-wrap {
        @include hotPot();
        .ptw {
            bottom: 30px;
            right : 34px;
        }
        .phk {
            bottom: 9px;
            right : 79px;
        }
        .psz {
            bottom: 18px;
            right : 90px;
        }
    }

}


//@mixin hpPosition($minWidth , $maxWidth , $left1 , $top1 , $left2 , $top2 , $left3 , $top3) {
//    @media screen and (min-width:$minWidth) and (max-width:$maxWidth){
//        .container.ptw {
//            left : $left1;
//            top : $top1;
//        }
//        .container.phk{
//            left : $left2;
//            top : $top2;
//        }
//        .container.psz{
//            left : $left3;
//            top : $top3;
//        }
//    }
//}
//#header .hp-wrap {
//    @include hpPosition(0 , $pureXs, 51.6%, 66.0%,46.6%,70.4%, 45.8% , 68.8%);
//}
//
//#header .hp-wrap {
//    @include hpPosition($pureXs,$pureSm , 52.6%, 66.8%,47.6%,72.4%, 46.8% , 70.6%);
//}
//
//#header .hp-wrap {
//    @include hpPosition($pureSm , $pureMd , 53.3%, 68.9%,48.6%,73.4%, 48.0% , 71.8%);
//}
//
//#header .hp-wrap {
//    @include hpPosition( $pureMd , $pureLg , 53.8%, 70.6%,49.0%,74.6%, 48.0% , 73.0%);
//}
//
//#header .hp-wrap {
//    @include hpPosition( $pureLg , $pureXl , 53.8%, 70.6%,49.0%,74.6%, 48.0% , 73.0%);
//}
//
//#header .hp-wrap {
//    @include hpPosition($pureXl , $pureXxl , 54.3%, 71.4%,49.8%,75.6%, 48.8% , 74.0%);
//}
//
//#header .hp-wrap {
//    @include hpPosition($pureXxl , 1000em , 54.3%, 71.4%,49.8%,75.6%, 48.8% , 74.0%);
//}

