.footer {
    background: $bgColor;
    color : #cdcdcd;
    padding-top : 40px;
    border-bottom: 10px solid #000;
    text-align: left;
    font-size : 12px;

    .infos{
        position : relative;
        margin-bottom: 6px;
        text-align: center;
        p{margin-bottom: 3px;}
        >div {
            text-align: left;
            vertical-align: top;
        }
    }

    .infos >div:nth-child(1) {
        img{
            width : 180px;
        }
    }
    .infos >div:nth-child(2) {
        img{
            width : 150px;
        }
    }
    .copy-right {
        line-height: 20px;
        text-align :center;
        a{
            color: #cdcdcd;
            text-decoration: none;
            &:hover {
                color: #1C9B9B;
            }
        }
    }
}
@media screen and (min-width : $footerBp) {
    #footer{
        height : 180px;
    }
    #footer .infos >div {
        display :inline-block;
        margin-right:25px;

        &:nth-child(1) {
            margin-right:50px;
            position: relative;
            top : -30px;
        }
        &:nth-child(3) {
            div{
                display : inline-block;
                padding:0 25px;
            }
            >p{
                width :0;
                height : 30px;
                display:inline-block;
                border-right: 1px solid #16293B;
                border-left: 1px solid #000;
                position: relative;
                top : 4px;
            }
        }
        &:nth-child(4) {
            margin-right:0;
        }
   }

    .copy-right {
        position: relative;
        top: -70px;
    }
}


@media screen and (max-width : $footerBp) {
    #footer {
        padding-top: 20px;
        text-align: center;
        .infos >div {
            margin-bottom: 12px;
            text-align :center;
        }
    }
}
