#header {
    overflow: hidden;
    position: relative;
    height : 800px;
    color: white;
    background-size: cover;
    text-align: center;
    background: $bgColor!important;
}

@mixin popmap($width , $right , $bottom ) {
    display: none;
    width : $width;
    bottom : $right;
    right : $bottom;
}

#header .map-wrap{
    img.popmap {
        position : absolute;
        z-index : 100;
    }
    img.popmap.ptw {
        @include popmap(288px , 42px , -204px);
    }

    img.popmap.phk {
        @include popmap(292px , 18px , -138px);
    }
    img.popmap.psz {
        @include popmap(338px , 40px , -128px);
    }

}

@media screen and (min-width:$pureLg) {
    #header .slogan{
        position : absolute;
        width : 700px;
        top : 180px;
        right : -500px;
        z-index: 2;
    }
    #header .map-wrap{
        position: absolute;
        top : 180px; ;
        width : 600px;
        .map{
            width :600px;
        }
    }
    .map-wrap {
        @include hotPot();
        .ptw {
            bottom: 50px;
            right : 58px;
        }
        .phk {
            bottom: 20px;
            right : 125px;
        }
        .psz {
            bottom: 33px;
            right : 144px;
        }
    }
}


@media screen and (max-width:$pureLg) {
    #header {
        height : 400px;
    }
    #header .slogan{
        position : absolute;
        width : 150%;
        top : 50px;
        left : -100px;
        z-index: 99;
    }
    #header .map-wrap{
        top : 60px;
        width : 400px;
        position: absolute;
        .map{
            width : 400px;
            margin : 0 auto;
        }
    }

    .map-wrap {
        @include hotPot();
        .ptw {
            bottom: 30px;
            right : 34px;
        }
        .phk {
            bottom: 9px;
            right : 79px;
        }
        .psz {
            bottom: 18px;
            right : 90px;
        }
    }

}


