@mixin mapWrap($width) {

    .banner .map-wrap {
        position : relative;
        width: $width;
        img{
            width: 100%;
        }
    }
}
.join{
    .banner{
        padding: 80px 0 40px 0 ;
        background : $lightGrayColor;
        position : relative;
        text-align:center;
    }
    @include mapWrap(700px);
   .map-wrap {
       @include hotPot();
       .container {
           top :480px ;
           right : 168px;
       }
   }

   .banner .team {
       text-align: center;
       position : absolute;
       width: 100%;
       top : 55%;
       line-height: 28px;
       font-size : 12px;
   }
    ul li{
        position:relative;
    }
    ul li:nth-child(even){
        background : $lightGrayColor;
    }
    h1{
        color : $h1Color;
        font-size : $h1Size;
        padding-bottom : 16px;
        margin-top: 0;
    }
    .img-wrap{
       img{
           width : 300px;
           height :300px;
       }
    }
    .text-wrap{
        text-align: left;
        line-height: 1.8em;
        max-width : 380px;
    }
}

#join img.icon-email{
    width : 30px;
    position : absolute;
    right : 18%;
}
#join ul li h3{
    line-height:40px;
}

@media  screen and (min-width:$pureMd) {
    #join ul li{
        padding : 100px 0;
        text-align: right;
        div>img{
            margin-right: 30px;
        }
        .text-wrap{
        }
    }
}

@media  screen and (max-width:$pureMd) {
    #join{
        .banner{
            padding : 120px 0 80px 0 ;
            overflow: hidden;
        }
        @include mapWrap(400px);
        ul li{
            padding : 80px 0;
        }
        .map-wrap {
            @include hotPot();
            .container {
                top :269px ;
                right : 90px;
            }
        }

        .pure-u-1 {
            text-align: center;
        }
        .text-wrap{
            width : 320px;
            padding : 0 ;
            text-align: left;
            margin : 40px auto 0 ;
        }
    }
}


