header {
    color: #636363;
    background: url("../img/big-bg.png?__sprite") center center no-repeat;
    background-size: cover;
}
/*.bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #083952;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}*/

body {
    font-family: "Noto Sans S Regular";
    font-size: 14px;
    color: #636363;
}
.down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    margin-left: -8px;
    color: #FFFFFF;
}

.navbar-default {
    background-color: #ffffff;
    border-bottom: #636363 solid 1px;
}
.navbar-default .navbar-brand {
    color: #636363;
}
.navbar-default .navbar-nav>li>a {
    color: #636363;

}
.navbar-fixed-top {
    padding: 0;
}
.navbar-fixed-top.navbar-shrink {
    padding: 0;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #8fb03e;
}

.intro-text {
    color: #FFFFFF;
}
header .intro-text .name {
    font-family: "Noto Sans S Medium";
    font-size: 48px;
    color: #8fb03e;
}
/*.fadein {
    display: none;
}*/
.zh-desc {
    font-family: "Noto Sans S Blank";
    font-size: 48px;
}
.en-desc {
    font-family: "Noto Sans S Regular";
    font-size: 36px;
}
.navbar-default .navbar-toggle {
    background-color: #1a242f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: #8fb03e;
    background-color: #8fb03e;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #636363;
    background-color: #E5E5E5;
    border-bottom: 3px solid #8fb03e;
}

.navbar-default .navbar-nav>.active>a:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-top-width: 0;
    border-bottom-color: #8fb03e;
    bottom: 0px;
    left: 50%;
    content: "";
    margin-left: -5px;
}
.star-light {
    padding-top: 12px;
    padding-bottom: 6px;
}

/* bootstrap 5 cols */
.col-lg-2dot4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 750px) {
    .col-lg-2dot4 {
        float: left;
    }
    .col-lg-2dot4 {
        width: 20%;
    }
    .col-lg-pull-2dot4 {
        right: 20%;
    }
    .col-lg-push-2dot4 {
        left: 20%;
    }
    .col-lg-offset-2dot4 {
        margin-left: 20%;
    }
}
.quali-names a {
    color: #636363;
    -webkit-transition: color 0.8s ease-in-out;
    -moz-transition: color 0.8s ease-in-out;
    transition: color 0.8s ease-in-out;
}
.quali-names a:hover {
    color: #8fb03e;
}
.quali-names .qualification-name {
    margin-top: 18px;
    font-size: 18px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #8fb03e;
    border-color: #8fb03e;
}
.concat-map {
    background: url("../img/map.png?__sprite") center right no-repeat;
}
section.success {
    background: url("../img/green-bg.png?__sprite") repeat-x;
    /*background-size: cover;*/
}
section.warn {
    color: #fff;
    background: url(../img/gossip.png?__sprite) center center no-repeat, url(../img/orange-bg.svg) center bottom no-repeat, url(../img/orange1px.png?__sprite);
    /*background-position: 40% 50%;*/
}
footer .footer-above {
    background: #152635 !important;
}
.footer-below {
    padding: 10px 0 !important;
    background-color: #2A3A47 !important;
}
.footer-below p {
    color: #FFFFFF;
    font-size: 14px;
}
.info {
    text-align: left;
    float: right;
    line-height: 35px;
    margin-bottom: 80px;
}
.info img {
    padding-bottom: 40px;
}
.link {
    text-align: left;
}
.link .col-sm-3 {
    padding-left: 2px;
    padding-right: 2px;
}
.link .col-sm-3 ul {
    list-style-type: none;
}
.link ul li:first-child {
    font-size: 16px;
    padding-bottom: 28px;
}
.link ul li {
    padding-bottom: 10px;
}

.copyright {
    padding-top: 20px;
    font-size: 14px !important;
}
hr.star-primary {
    height: 0px;
    border-color: #E3E3E3;
    max-width: 180px;
    margin-top: 3px;
}
hr.star-primary:after {
    content: none;
}
.btn-orange {
    margin-top: 15px;
    font-size: 20px;
    transition: all .3s ease-in-out;
    border: solid 2px #FFF;
    color: #FBB42F;
    background: #FFF;
}
.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active {
    color: #FFF;
    border: solid 2px #FFF;
    background: 0 0;
}
.btn-blue {
    margin-top: 15px;
    font-size: 20px;
    transition: all .3s ease-in-out;
    border: solid 2px #49B1DF;
    color: #FFF;
    background: #49B1DF;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active {  
    border: solid 2px #49B1DF;
    color: #49B1DF;
    background: 0 0;
}
.btn-green {
    margin-top: 15px;
    font-size: 20px;
    color: #FFF;
    border: solid 2px #FFF;
    color: #49CA94;
    background: #FFF;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active {
    border: solid 2px #FFF;
    background: 0 0;
    transition: all .3s ease-in-out;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 10px 50px;
}
.anijs-orange {
    font-size: 140%;
    color: #FBB42F;
}
.anijs-blue {
    font-size: 140%;
    color: #49B1DF;
}
.anijs-green {
    font-size: 140%;
    color: #49CA94;
}


section h2 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.talent-h2 {
    text-align: right;
    padding-top: 0;
}
.service-info {
    margin-top: 80px;
}
#qualifications {
    min-height: 480px;
}
#platform {
    min-height: 600px;
}
#scheme {
    min-height: 600px;
}
#talent {
    min-height: 600px;
}
#concat .footer-above {
    min-height: 420px;
}
