@import '../../const';

@media (min-width: $retinaMinWidth) {
    .img-platform {
        width: 100%;
        padding-left: 0px;
    }
    .img-develop {
        width: 78%;
    }
    .title-item {
        height: 53px;
    }
    .zh-desc {
        font-size: 40px;
    }
}
