@import '../../const';

/* -- 覆盖原有的样式 -- */

ol li {
	border: 2px solid #ddd !important;
}

ol li.active {
	background-color: #ddd !important;
}

/* -- end -- */

.content {

}

.com-exposition {
	padding-top: 50px;
	padding-bottom: 40px;
}

.details {
	background: url(../img/details.png) center center no-repeat;
	padding: 5px 0 3px 0;
	margin-top: 35px;
}

.details a {
	color: #FFF;
	text-decoration: none;
}

.com-agent {
	min-height: 600px;
	background-color: #FF0048;
	color: #FFF;
}

.com-smartcity {
	min-height: 600px;
	// display: none;
}

#smartcity_2 {
	background-color: #2D5CEA;
	color: #FFF;
}

// .img-shadow {
// 	height: 10px;
// 	width: 20px;
// 	border-radius: 50%;
// 	-webkit-box-shadow: 10px 10px inset;
// } 

.agent-total {
	width: 150px;
	height: 150px;
	padding: 10px;
	border-radius: 50%;
	border: 2px dashed;
	margin: auto;
}

.agent-total .circle-inner {
	width: 126px;
	height: 126px;
	background-color: #FFF;
	border-radius: 50%;
	text-align: center;
	color: #FF0048;
	padding: 22px 0; 
}

.agent-total .circle-inner span {
	font-size: 40px;
	line-height: 1em;
}

.agent-branch {
	margin-top: 50px;
}

.agent-branch .circle {
	width: 126px;
	height: 126px;
	margin: auto;
	background: transparent;
	border-radius: 50%;
	border: 3px solid;
	color: #FFF;
	padding: 40px 0;
	text-align: center;
}

.agent-branch .circle > span {
	font-size: 20px;
	line-height: 1em;
}

// .agent-branch .circle:first-child > span {
// 	font-size: 30px;
// 	line-height: 1em;
// } 

.agent-branch .list-item {
	text-align: center;
}

.agent-branch .list-item ul{
	list-style: none;
	margin-left: -40px;
	margin-top: 10px;
}

.smartcity.title {
	font-size: 45px;
	line-height: 1em;
	margin-top: 10px;
}

.contractor .contractor-logo {
	border: 1px solid #ddd;
	padding: 5px 10px; 
	width: 200px;
	text-align: center;
	margin-top: 40px;
}

.contractor .contractor-info {
	border: 1px solid #ddd;
	border-top: 0;
	width: 200px;
	text-align: center;
}

.nav-right {
	position: fixed;
	top: 40%;
	right: 50px;
	color: #DDD;
	text-align: right;
}

.nav-right li {
	margin: 5px 0;
}

.nav-right li a {
	color: #777886;
	text-decoration: none;
}
