@import '../../const';

@media (min-width: $desktopMinWidth) {
    .col-lg-2dot4 {
        float: left;
        width: 20%;
    }
    .col-lg-push-2dot4 {
        left: 20%;
        right: 20%;
    }
    .col-lg-offset-2dot4 {
        margin-left: 20%;
    }

    .header .intro .name {
        font-size: 42px;
    }

    .header .intro .fullname {
        font-size: 16px;
    }

    .header .intro .desc {
        font-size: 18px;
    }
}
