@import '../../const';

@media (min-width: $tabletMinWidth) {
    .navbar-default .navbar-nav>.active>a:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px;
        border-top-width: 0;
        border-bottom-color: #8fb03e;
        bottom: 0px;
        left: 50%;
        content: "";
        margin-left: -5px;
    }

    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
        color: #FFFFFF !important;
        background-color: #8fb03e !important;
        border-bottom: 3px solid #8fb03e !important;
    }

    .col-lg-2dot4 {
        float: left;
        width: 50%;
    }
    .col-lg-push-2dot4 {
        left: 20%;
        right: 20%;
    }
    .col-lg-offset-2dot4 {
        margin-left: 20%;
    }

    .link ul li {
        text-align: left;
    }

    .concat-info {
        text-align: left;
        background: url("../img/map.png?__sprite") bottom left no-repeat;
    }
}