@import '../../const';

body {
	font-family: $bodyFamily;
    color: $bodyColor;
	font-size: $bodyFontSize;
    overflow-x: hidden;
}

p {
	font-size: $pFontSize;
    letter-spacing: 1px;
    line-height: 150%;
}

.section {
    padding: 80px 0;
}

.loading {
    background-color: $nearGreenColor;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1000;

    .loading-img {
        position: absolute;
        top: 40%;
        left: 47%;
        width: 6%;
    }
}

.navbar-default {
    border-bottom: #ececec solid 1px;
    background-color: #ffffff;
    padding: 0;
    -webkit-transform: translate(0, -100%) translateZ(0);
    -ms-transform: translate(0, -100%) translateZ(0);
    transform: translate(0, -100%) translateZ(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    /*background-color: rgba(255, 255, 255, 0);
    border-color: rgba(236, 236, 236, 0);*/
}

.navbar-default.show {
    box-shadow: 0 1px #ececec;
    -webkit-transform: translate(0, 0) translateZ(0);
    -ms-transform: translate(0, 0) translateZ(0);
    transform: translate(0, 0) translateZ(0);
}

.navbar-default .navbar-brand {
    color: #636363;
    margin-top: -6px;
}
.navbar-default .navbar-nav>li>a {
    color: #636363;
    border-bottom: 3px solid #FFFFFF;
}
// .navbar-fixed-top {
//     padding: 0;
// }
// .navbar-fixed-top.navbar-shrink {
//     padding: 0;
// }

.navbar-default .navbar-toggle {
    background-color: #1a242f;
    border-color: #1a242f;
}

.navbar-default .navbar-toggle:focus {
    background-color: #1a242f;
    border-color: #1a242f;
}
.navbar-default .navbar-toggle:hover {
    border-color: #8fb03e;
    background-color: #8fb03e;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #636363;
    background-color: #E5E5E5;
    border-bottom: 3px solid #8fb03e;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #FFFFFF !important;
    background-color: #8fb03e !important;
}

/* bootstrap 5 cols */
.col-lg-2dot4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
    padding-bottom: 25px;
    padding-top: 25px;
}

.splash-container {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 1px; left: 0; bottom: 0; right: 0;
    text-align: center;
}

.content-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background-color: #FFFFFF;
}

.btn-primary {
    color: #ddd;
    background-color: #1a242f;
    border-color: #1a242f;
    border-radius: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #8fb03e;
    border-color: #8fb03e;
}


.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    padding-top: 10px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.link {
    text-align: left;
}

.link .col-sm-3 {
    padding-left: 2px;
    padding-right: 2px;
}

.link .col-sm-3 ul {
    list-style-type: none;
}

.link ul li:first-child {
    a {
        color: #FFFFFF! important;
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 30px;
        text-decoration:none;
    }
    a:hover {
        color: #8fb03e !important;
    }
}
.link ul li {
    padding-bottom: 10px;
    text-align: center;

    a {
        color: #AAB2BD;
        text-decoration:none;
    }
    a:hover {
        color: #8fb03e;
    }
}

.concat-info {
    color: #aab2bd;
    text-align: center;
    margin-left: 20px;
    line-height: 35px;
    padding-bottom: 100px;
    background: url("../img/map.png?__inline") bottom center no-repeat;
}
.concat-info img {
    padding-bottom: 40px;
}

.footer-above {
    padding-top: 80px;
    color: $footerColor;
    background: $footerAboveBgColor;
    min-height: 420px;
}

.copyright {
    padding-top: 20px;
}

.footer-below {
    padding: 10px 0;
    background-color: $foolterBelowBgColor;
}

.footer-below p {
    color: $footerColor;
    font-size: $bodyFontSize;
}




// preloading
.ip-header {
    position: fixed;
    top: 0;
    z-index: 100;
    min-height: 480px;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    z-index: 9999;
}

.ip-header h1 {
    margin: 0;
}

.ip-logo,
.ip-loader {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

.ip-logo {
    top: 0;
    height: 100%;
    -webkit-transform: translate3d(0,25%,0);
    transform: translate3d(0,25%,0);
}

.ip-loader {
    bottom: 20%;
}

.ip-header .ip-inner {
    display: block;
    margin: 0 auto;
}

.ip-header .ip-logo svg {
    min-width: 320px;
    max-width: 480px;
    width: 25%;
}

.ip-header .ip-logo svg path {
    fill: #8EAF3E;
}

.ip-header .ip-loader svg path {
    fill: none;
    stroke-width: 6;
}

.ip-header .ip-loader svg path.ip-loader-circlebg {
    stroke: #ddd;
}

.ip-header .ip-loader svg path.ip-loader-circle {
    -webkit-transition: stroke-dashoffset 0.2s;
    transition: stroke-dashoffset 0.2s;
    stroke: #8EAF3E;
}

/* Content */
.ip-main {
    overflow: hidden;
    margin: 0 auto;
    padding: 160px 0 10em 0;
    max-width: 1100px;
    width: 90%;
}

.ip-main h2 {
    margin: 0;
    padding: 0.5em 0 1em;
    color: #be4856;
    text-align: center;
    font-size: 4.25em;
    font-size: 4vw;
    line-height: 1;
}

.browser {
    margin: 0 auto;
    padding-top: 8%;
    min-height: 400px;
    max-width: 1000px;
    width: 100%;
    border-radius: 8px;
    background: #fff url("../img/browser.png") no-repeat 50% 0;
    background-size: 100%;
    color: #d3d3d3;
}

.box {
    float: left;
    padding: 3.5em;
    width: 33.3%;
    font-size: 0.7em;
    line-height: 1.5;
}


[class^="icon-"]::before,
[class*=" icon-"]::before {
    display: block;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    background: #dfdfdf;
    color: #fff;
    text-align: center;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 5em;
    font-family: 'feather';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
    content: "\e006";
}

.icon-cog:before {
    content: "\e023";
}

.icon-heart:before {
    content: "\e024";
}

/* Animations */

/* Initial animation of header elements */
.loading .ip-logo,
.loading .ip-loader {
    opacity: 1;
    -webkit-animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
    animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loading .ip-loader {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes animInitialHeader {
    from { opacity: 0; -webkit-transform: translate3d(0,800px,0); }
}

@keyframes animInitialHeader {
    from { opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0); }
}

/* Header elements when loading finishes */
.loaded .ip-logo,
.loaded .ip-loader {
    opacity: 1;
}

.loaded .ip-logo {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
    animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
    display: none;
}

@-webkit-keyframes animLoadedLogo {
    to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

@keyframes animLoadedLogo {
    to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

.loaded .ip-loader {
    -webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
    animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader {
    to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
    to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

/* Change the color of the logo */
.loaded .ip-logo svg path {
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
    fill: #fff;
}

/* Header animation when loading finishes */
.loaded .ip-header {
    -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
    animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedHeader {
    to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
    to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

/* Content animations */
.loaded .ip-main h2,
.loaded .ip-main .browser,
.loaded .ip-main .browser .box,
.loaded .codrops-demos {
    -webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
    animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loaded .ip-main .browser,
.loaded .ip-main .browser .box:first-child {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loaded .ip-main .browser .box:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.loaded .ip-main .browser .box:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes animLoadedContent {
    from { opacity: 0; -webkit-transform: translate3d(0,200px,0); }
}

@keyframes animLoadedContent {
    from { opacity: 0; -webkit-transform: translate3d(0,200px,0); transform: translate3d(0,200px,0); }
}

/* Change layout class for header */
.layout-switch .ip-header {
    position: absolute;
}

/* No JS */
.no-js .ip-header {
    position: relative;
    min-height: 0px;
}

.no-js .ip-header .ip-logo {
    margin-top: 20px;
    height: 180px;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.no-js .ip-header .ip-logo svg path {
    fill: #fff;
}

/* Media queries */

@media screen and (max-width: 45em) {

    .ip-main h2 {
        font-size: 2.25em;
        font-size: 10vw;
    }

    .box {
        width: 100%;
    }

}
// end preloading
