@import '../../const';

@media (min-width: $desktopMinWidth) {
    .img-platform {
        width: 100%;
        padding-left: 0px;
    }
    .img-develop {
        width: 95%;
    }
    .title-item {
        height: 49px;
    }
    .zh-desc {
        font-size: 36px;
    }
}
