@import '../../const';

@media (min-width: $tabletMinWidth) {
    .zh-desc {
        font-size: 30px;
    }
    .en-desc {
        font-size: 36px;
    }

    .section h2 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .talent-h2 {
        text-align: right;
        padding-top: 0;
    }

    .img-platform {
        width: 120%;
        padding-left: 0px;
    }
    .img-develop {
        width: 110%;
        padding-right: 0px;
    }
    .img-gossip {
        width: 80%;
        // -webkit-transform: rotate(0deg);
        // -moz-transform: rotate(0deg);
        // -ms-transform: rotate(0deg);
        // -o-transform: rotate(0deg);
        // transform: rotate(0deg);
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .com-talent .col-sm-4 {
        text-align: left;
    }
    .title-item {
        height: 45px;
    }
    .com-platform .col-sm-6 h2, .com-platform .col-sm-6 p, .com-platform .col-sm-6 div {
        text-align: right;
        font-size: $pDescFontSize !important;
    }
    .btn-lg, .btn-group-lg>.btn {
        padding: 10px 50px;
    }
    .btn-green {
        margin-top: 25px;
        font-size: $shortSentenceFontSize;
        letter-spacing: 2px;
        color: #FFF;
        border: solid 2px #FFF;
        transition: all .3s ease-in-out;
        color: #49CA94;
        background: #FFF;
    }
    .com-solution .col-sm-6 {
        text-align: right;
    }
    .com-solution .col-sm-6 h2, .com-solution .col-sm-6 p, .com-solution .col-sm-6 div {
        text-align: left;
        font-size: $pDescFontSize !important;
    }
    .btn-blue {
        margin-top: 25px;
        font-size: $shortSentenceFontSize;
        letter-spacing: 2px;
        transition: all .3s ease-in-out;
        border: solid 2px #49B1DF;
        color: #FFF;
        background: #49B1DF;
    }
    .com-talent {
        background: url("/img/index/orange-bg.svg") center bottom no-repeat, #ffb608;
    }

    .btn-orange {
        margin-top: 25px;
        font-size: $shortSentenceFontSize;
        letter-spacing: 2px;
        transition: all .3s ease-in-out;
        border: solid 2px #FFF;
        color: #FBB42F;
        background: #FFF;
    }

    .service-info {
        margin-top: 50px;
    }

    .img-services {
        width: 50%;
        margin-top: 20px;
    }

    .com-talent .align-left {
        text-align: left;
    }
    .com-talent .align-right {
        text-align: right;
    }

}
